<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Game ID <%= game.id %>  </h1>
    <h2><%= game.name %> : <%= game.rating %> </h2>
    <a href="/rating">HomePage</a>
    <a href="/rating/<%=game.id%>/edit">Edit</a>
    <form action="/rating/<%= game.id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>